/* Mobile View */
a {display: block;
    padding: 1em;
    text-align: center;
    color: black;
    margin: 1em;
}

.blue {
    background: skyblue;
}
.gray {
    background: lightgray;
}

.demo {
    height: 20%;
    width: 40%;
}

.kaws {
    margin: 1em;
    width: 97.5%;
}

div {
    margin: 1em;
    width: 97.5%;
}

p {
    color: gray;
}

.subsec {font-style: italic;}

/* Non-Mobile View */

@media only screen and (min-width:1200px) {
    main {
        margin: 0px auto;
        width: 60%;
    }

    .blue {
        display: none;
    }
        
    a{
        display: inline-block;
        padding: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .demo {
        margin-left: 1em;
        height: 10%;
        width: 20%;
        margin-right: 23.35em;
    }

    #content,.subsec {
        display: inline-block;
        vertical-align: top;
    }
    #content {
        width: 55%;
    }

    .subsec {
        width: 38%;
        margin-right: 0px;
    }
}


